h1 {
    font-family: 'Noto Sans', sans-serif;;
    text-align: center;
    margin-top: 120px;
    font-size: 35px;
    color: #ffc700
}

h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#img {
    width: 300px;
    height: 150px;
    margin: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-image:url(../images/logo.png);
    background-repeat:no-repeat ;
    background-size: cover;
}

#div1 {
    width: 310px;
    height: 45px;
    margin: 17px;
    background-color: #cbcbcb;
    border: 1px solid purple;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    box-shadow: 1px 5px 6px 1px #393838a3;
}


h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-left: 10px;
    color:rgba(0, 0, 0, 0.773)
}

body {
    background-image: url(../images/fundo.png);
    background-repeat:no-repeat;
    background-size:cover;
    }

.container.my-5 { 
    width: 310px;
    height: 45px;
    margin: 10px;
    background-color: #581179b8;
    padding: 1px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 1px 5px 6px 1px #4a4a4a7f;
}

#icon {
    font-size: 20px;
    color: #4b0d68c5;
    margin-left: 5px;
}

